* {
  border-top: none #1098ad solid 30px;
}

body {
  font-family: serif;
  color: #444;

  border-top: red solid 30px;
}

h1,
h2,
h3 {
  color: rgb(49, 115, 207);
}

h1 {
  font-size: 26px;
  text-transform: uppercase;
  font-style: italic;
}

h2 {
  font-size: 40px;
}

h3 {
  font-size: 30px;
}

h4 {
  font-size: 20px;
  text-transform: uppercase;
  text-align: center;
}

p {
  font-size: 22px;
  line-height: 1.5;
}

li {
  font-size: 20px;
}

/* footer p {
  font-size: 40px;
} */

#copyright {
  font-size: 12;
}

/* article header p {
  font-style: italic;
} */

#author {
  font-style: italic;
  font-size: 18px;
}

.related-author {
  font-weight: bold;
}

/* ul {
  list-style: none;
} */

.related {
  list-style: none;
}

.main-header {
  background-color: #f7f7f7;
}

aside {
  background-color: #f7f7f7;
  border: 10px solid #1098ad;
  /* border-top: 5px solid #1098ad;
  border-bottom: solid #1098ad;
  border-left: solid #1098ad;
  border-right: 15px solid #1098ad;
  */
}

article li:first-child {
  font-weight: bold;
}

article li:last-child {
  font-style: italic;
}

article li:nth-child(2) {
  color: red;
}

/* Misconception: this won't work use video 29 for reference*/
article p:first-child {
  color: red;
}

/* styling links */
a:link {
  color: #1098ad;
  text-decoration: none;
}

a:visited {
  color: #1098ad;
}

/* My short hand for text-decoration didn't worked underline color--underline didn't worked */
a:hover {
  color: orangered;
  font-family: "Courier New", Courier, monospace;
  font-weight: bold;
  text-decoration: underline;
  color: orangered;
}

a:active {
  background-color: black;
  font-style: italic;
}

/* LVHA this is the order dont edit in different order */

/* resolving conflict */
#Copyright {
  color: red;
  /* font-size: 15px; */
}

.copyright {
  color: blue;
  font-size: 20px;
}

.text {
  color: yellow;
}

/* footer p {
  /* color: green !important;
} */

/* nav a:link,
nav p {
  font-size: 18px;
} */

nav {
  font-size: 18px;
}
